/* Estilos globales */
body {
  background-color: silver;
  padding: 10px;
}

h1 {
  margin: 10px 0;
  font-size: 30px; /* Tamaño de fuente ajustado para pantallas más pequeñas */
  font-weight: bold;
}

h6 {
  color: blue;
}

p {
  color: silver;
  margin: 10px 0;
}


.navbar {
  padding: 0.5rem 0;
}


#LOGO {
  max-width: 100%; 
  height: auto;
}

/* Imágenes */
.img-fluid {
  max-width: 100%; 
  height: auto;
}


#footer {
  padding: 20px 0;
}


table {
  width: 100%;
}

.social-container {
  text-align: center;
  padding: 10px 0;
}

.social-icon {
  margin: 0 10px;
}

.social-icon img {
  width: 30px; /* Tamaño más pequeño para pantallas más pequeñas */
  height: 30px;
}












body{background-color:silver;}





h1{color: silver;}
h1{margin-bottom: 50px}
h1{margin-top: 50px}
h6{color: blue(195, 35, 35);}
p{color:silver;}
p{margin-top: 50px;}
p{margin-bottom:50px}

#chica{position:fixed; bottom: 0.5; right: 0; width: 100px;} 
#grande{width: 1490px; }
#GT3{left: 0;}
h1{font-family:"Times New Roman", times, monospace}
h2{font-family:"Times New Roman", times, monospace}
h1{font-size: 50px}
h1{font-weight: bold}
h2{font-weight: lighter}
#LOGO{ bottom: 100; right: 100; width: 350px;}
#navbar navbar-expand-lg bg-body-tertiary { top: 100}


li{margin-top: 30px}
.FOOT{display: flex;justify-content: flex-end; }
.social-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #111; /* Cambia el color de fondo según tus preferencias */
    text-align: center;
    padding: 10px 0; /* Espaciado interno para los iconos */
  }
  
  .social-icon {
    margin: 0 10px; /* Espacio entre los iconos */
    text-decoration: none; /* Elimina el subrayado en los enlaces */
  }
  
  .social-icon img {
    width: 50px; /* Ajusta el tamaño de los iconos según tus preferencias */
    height: 50px;
  }
  .container2 {
    display: flex; /* Hace que los elementos hijos se muestren en línea */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    margin-top: 200px

}

.column {
    flex: 1; 
    margin-right: 20px;
}

.fondo-blanco {
  background-color: white;
  width: 50PX; /* Ajusta el ancho según tus necesidades */
  height: 50PX; /* Ajusta la altura según tus necesidades */
}

.fondo-negro {
  background-color: black;
  width: 50px; /* Ajusta el ancho según tus necesidades */
  height: 50px; /* Ajusta la altura según tus necesidades */
}


.fondo-blanco {
  background-color: white;
  width: 50px; /* Ajusta el ancho según tus necesidades */
  height: 50px; /* Ajusta la altura según tus necesidades */
  border: 2px solid black; /* Borde negro */
  border-radius: 10px; /* Bordes redondeados */
}

.fondo-negro {
  background-color: black;
  width: 50px; /* Ajusta el ancho según tus necesidades */
  height: 50px; /* Ajusta la altura según tus necesidades */
  border: 2px solid white; /* Borde blanco */
  border-radius: 10px; /* Bordes redondeados */
}


