body{background-color: silver;}
p{color:black}
p{border: 1px solid black;}
body{margin-top:50px}
body{margin-left:50px}
body{margin-right:50px}
body{margin-bottom:50px}
body{padding:80px}
#chica{position:fixed; bottom: 0; right: 0; width: 100px;} 
#grande{width: 1490px; }
#GT3{left: 0;}
