body{background-color: silver;}





body{margin-left:50px}
body{margin-right:50px}
body{margin-bottom:50px}
body{padding:80px}
h1{margin-bottom: 50px}
h1{margin-top: 50px}
h6{color: brown;}
p{color:black;}
p{margin-top: 50px;}
p{margin-bottom:50px}

#chica{position:fixed; bottom: 0.5; right: 0; width: 100px;} 
#grande{width: 1490px; }
#GT3{left: 0;}
h1{font-family:"Times New Roman", times, monospace}
h2{font-family:"Times New Roman", times, monospace}
h1{font-size: 50px}
h1{font-weight: bold}
h2{font-weight: lighter}
#LOGO{ bottom: 100; right: 100; width: 350px;}
#navbar navbar-expand-lg bg-body-tertiary { top: 100}


li{margin-top: 30px}
.FOOT{display: flex;justify-content: flex-end; }
.social-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Cambia el color de fondo según tus preferencias */
    text-align: center;
    padding: 10px 0; /* Espaciado interno para los iconos */
  }
  
  .social-icon {
    margin: 0 10px; /* Espacio entre los iconos */
    text-decoration: none; /* Elimina el subrayado en los enlaces */
  }
  
  .social-icon img {
    width: 50px; /* Ajusta el tamaño de los iconos según tus preferencias */
    height: 50px;
  }
  .container2 {
    display: flex; /* Hace que los elementos hijos se muestren en línea */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    margin-top: 200px

}

.column {
    flex: 1; 
    margin-right: 20px;
}

